<div class="my-4 flex items-center gap-4">
  <hallpass-employee-test-1 />
</div>

<div class="my-12">
  <p class="mb-2 font-bold">NOTE</p>
  <p class="mb-2">
    You will notice that NG throws 
    a "ExpressionChangedAfterItHasBeenCheckedError" (in dev mode), 
    every time the array is altered or the global counter is change.
    This is because <code>lengthImpure</code> is incrementing its own 
    <code>counter</code>, and thus altering the value of <code>lengthImpure</code>.  You can read more about 
    this error <a href="https://angular.dev/errors/NG0100" target="_blank" class="text-sky-800">here</a>.
  </p>
  <p class="mb-2">
    This is just a demo app so we will ignore the error.
  </p>
</div>